<mat-card>

  <form
    class="register"
    #regform="ngForm"
    (ngSubmit)="sendForm(regform)"
    [ngFormOptions]="{updateOn: 'blur'}">

    <!--      Фамилия Имя-->
    <mat-form-field appearance="fill">
      <mat-label>Фамилия Имя</mat-label>
      <input matInput
             name="name"
             [(ngModel)]="myName"
             #name="ngModel"
             required
             pattern="{{namePattern}}"
      >
      <mat-error *ngIf="name.hasError('pattern')">Два и более русских слов </mat-error>
      <mat-error *ngIf="name.hasError('required')">Заполните поле</mat-error>
    </mat-form-field>


    <!--      EMAIL-->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput
             name="email"
             ngModel
             #email="ngModel"
             required
             email
      >
      <mat-error *ngIf="email.hasError('email')">Неверный email</mat-error>
      <mat-error *ngIf="email.hasError('required')">Заполните поле</mat-error>
    </mat-form-field>

    <!--    ПАРОЛЬ-->
    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input matInput
             name="password"
             #password="ngModel"
             ngModel
             required
             minlength="8"
             pattern="{{passwordPattern}}"
      >
      <mat-error *ngIf="password.hasError('minlength')">Минимум 8 символов</mat-error>
      <mat-error *ngIf="password.hasError('pattern')">Некорректынй пароль</mat-error>
      <mat-error *ngIf="password.hasError('required')">Заполните поле</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Подтверждение пароля</mat-label>
      <input matInput
             name="confirmation"
             #confirmation="ngModel"
             ngModel
             required
             ngValidateEqual="password"
      >
      <mat-error *ngIf="confirmation.hasError('required')">Заполните поле</mat-error>
      <mat-error *ngIf="confirmation.hasError('notEqual')">Пароли не совпадают</mat-error>
    </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="regform.form.invalid">Зарегистрироваться</button>

  </form>

</mat-card>
