<mat-card>

  <form #registerForm="ngForm">

    <!--      Фамилия Имя-->
    <mat-form-field appearance="fill">
      <mat-label>Фамилия Имя</mat-label>
      <input matInput
             name="name"
             ngModel
             #name="ngModel"
             required
             pattern="{{namePattern}}"
      >
      <mat-error *ngIf="name.hasError('pattern')">
        Имя должно содержать не менее двух слов кириллическими или
        латинскими буквами
      </mat-error>

      <mat-error *ngIf="name.hasError('required')">
        Заполните поле
      </mat-error>

    </mat-form-field>



    <!--      EMAIL-->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput
             name="email"
             ngModel
             #email="ngModel"
             required
             email
      >
      <mat-error *ngIf="email.hasError('email')">Неверный email</mat-error>
      <mat-error *ngIf="email.hasError('required')">Заполните поле</mat-error>
    </mat-form-field>





  </form>








<!--  <ng-container-->
<!--    ngModelGroup="passwordGroup"-->
<!--    #passwordGroup="ngModelGroup"-->
<!--    appPasswordMatch-->
<!--  >-->
<!--    {{passwordGroup.errors?.passwordMatch | json}}-->

<!--    &lt;!&ndash;      ПАРОЛЬ&ndash;&gt;-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Пароль</mat-label>-->
<!--      <input matInput name="pass"-->
<!--             #password="ngModel"-->
<!--             ngModel-->
<!--             minlength="8"-->
<!--             pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]+$"-->
<!--      >-->
<!--      <mat-error *ngIf="password.hasError('minlength')">Минимум 8 символов</mat-error>-->
<!--      <mat-error *ngIf="password.hasError('pattern')">Некорректынй пароль</mat-error>-->

<!--      &lt;!&ndash;          <mat-error *ngIf="1 == 1">Не совпадают</mat-error>&ndash;&gt;-->

<!--    </mat-form-field>-->

<!--    &lt;!&ndash;      ПОДТВЕРЖДЕНИЕ ПАРОЛЯ&ndash;&gt;-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Повторите пароль</mat-label>-->
<!--      <input matInput name="confirmation"-->
<!--             ngModel-->
<!--             #confirmation="ngModel"-->
<!--             required-->
<!--      >-->
<!--    </mat-form-field>-->
<!--    <div *ngIf="!passwordGroup.errors?.passwordMatch && (confirmation.dirty || confirmation.touched)" class="error">-->
<!--      Не совпадают-->
<!--    </div>-->
<!--    {{passwordGroup.errors?.passwordMatch}}-->
<!--  </ng-container>-->

  <button mat-flat-button color="primary">Зарегистрироваться</button>
</mat-card>
